*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
::-webkit-scrollbar{
width: 10px;
background-color: #2e7dfd;
}
::-webkit-scrollbar-thumb{
    background-color:#ffffff;
    border-radius: 20px;

}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    background-color: #00b1f709;
    position: relative;
}
#backgroundImage{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#form{
    height: 95%;
    width: 40%;
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #2e7dfd;
    padding: 1%;
    box-shadow: -2px 2px 5px black;
}
#title{
    color: #ffffff;
    font-weight: 900;

    text-shadow: 1px 1px 3px black;
}
#sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

#logo{
    height: 4em;
    width:4.5em;
    margin-right: 3%;
}
p{
    font-size: 0.9em;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 1px 1px 3px black;
}
form{
    height: 95%;
    text-align: center;
}
.sec{
    padding: 1%;
    margin-top:15px ;
    text-align: left;
}
.label{
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 900;
    text-shadow: 1px 1px 3px black;
}
.input{
    width: 100%;
    border-radius: 20px;
    border: none;
    color: #2e7dfd;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    padding: 1.5%;
}
.input:hover{
    background-color: #2e7dfd;
    color: aliceblue;
    border:2px solid #0055ff;
}
#dropdown{
    border-radius: 20px;
    font-weight: 700;
    color: #2e7dfd;
    padding: 1%;
    font-size: 1.2em;
    text-align: center;
}
.opt{
    color: #ffffff;
    background-color: #0080ffbc;
    margin: 2%;
    font-weight: 700;
}
#submit{
width: 30%;
margin-right: 50%;
margin-left: 35%;
height: 40px;
font-size: 1em;
border-radius: 30px;
border: #0080ffbc;
color: #2e7dfd;
font-weight: 800;
transition: all 0.5s;
cursor: pointer;
}
#submit:hover{
    background-color: #2e7dfd;
    color: aliceblue;
    text-shadow: 1px 1px 3px black;
    border:2px solid #0055ff;
    
}


#display{
    font-size: 1.2em;
    font-weight: 900;
    color: aliceblue;
    text-shadow: 1px 1px 3px black;
    display: none;

}

@media only screen and (max-width:1025px){
    #main{
        height: 150vh;
        width:100vw;
    }
    #form{
        width: 55%;
    }
}
@media only screen and (max-width:431px){
   #main{
height: 105vh;
width: 100vw;
   }
    #form{
        width: 90%;
    }
    #background{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width:426px){
    
   
    #main{
        height:150vh;
     
    }
    #submit{
        margin-top: 30px;
    }
    .label{
        font-size: 1em;
    }
}

@media only screen and (max-width:375px){
    #main{
        height: 140vh;
    }
    #form{
        width: 95%;
    }
}
@media only screen and (max-width:320px){
    #form{
        width: 95%;
    }
    #submit{
        margin-top: 15px;
    }
}
@media only screen and (max-height:320px){
    #main{
        height: 230vh;
    }
}
